# DATA Simplification

1. Change the data set to action 1,3,7 (approval/denial only)

In [9]:
import pandas as pd
import os
from pathlib import Path
import matplotlib.pyplot as plt

In [8]:
path=Path()

In [13]:
parent_path=str(path.parent.absolute())[:-10]

'E:\\ECE143-HMDA_Mortagage_Analysis_and_Prediction'

In [14]:
record=parent_path+"/data/raw/hmda_2017_ca_all-records_labels.csv"
df=pd.read_csv(record, low_memory=False)

In [15]:
simpDF_road=parent_path+'/data/csvs/hmda_2017_ca_decisions_only.csv'

In [17]:
#save_DF_with_only_1,3,7
simpDF=df[df['action_taken'].isin([1,3,7])]
simpDF.head()

,as_of_year,respondent_id,agency_name,agency_abbr,agency_code,loan_type_name,loan_type,property_type_name,property_type,loan_purpose_name,...,edit_status_name,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,application_date_indicator
0,2017,0000451965,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home improvement,...,NaN,NaN,NaN,4824.0,37.230000,75200.0,57.419998,818.0,1626.0,NaN
1,2017,0000146672,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,NaN,7404.0,57.520000,63200.0,116.010002,1215.0,1743.0,NaN
2,2017,0000451965,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,NaN,3372.0,33.189999,97400.0,141.740005,592.0,1105.0,NaN
3,2017,13-6131491,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,NaN,8787.0,65.129997,97400.0,97.269997,1463.0,2164.0,NaN
7,2017,72-1545376,Department of Housing and Urban Development,HUD,7,FHA-insured,2,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,NaN,3944.0,52.000000,63200.0,75.089996,485.0,708.0,NaN

In [18]:
len(simpDF)

1104091

In [19]:
simpDF.to_csv(simpDF_road, index=False)

2. Turn data set into Code and Numeric only

In [23]:
removedDF=simpDF.drop(columns=[x for x in df.columns if "name" in x])
removedDF.head()

,as_of_year,respondent_id,agency_abbr,agency_code,loan_type,property_type,loan_purpose,owner_occupancy,loan_amount_000s,preapproval,...,lien_status,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,application_date_indicator
0,2017,0000451965,CFPB,9,1,1,2,1,570.0,3,...,1,NaN,NaN,4824.0,37.230000,75200.0,57.419998,818.0,1626.0,NaN
1,2017,0000146672,CFPB,9,1,1,1,2,185.0,3,...,1,NaN,NaN,7404.0,57.520000,63200.0,116.010002,1215.0,1743.0,NaN
2,2017,0000451965,CFPB,9,1,1,1,1,1079.0,3,...,1,NaN,NaN,3372.0,33.189999,97400.0,141.740005,592.0,1105.0,NaN
3,2017,13-6131491,HUD,7,1,1,3,1,417.0,3,...,1,NaN,NaN,8787.0,65.129997,97400.0,97.269997,1463.0,2164.0,NaN
7,2017,72-1545376,HUD,7,2,1,1,1,325.0,3,...,1,NaN,NaN,3944.0,52.000000,63200.0,75.089996,485.0,708.0,NaN

In [24]:
removedDF.to_csv(parent_path+"/data/csvs/hmda_2017_ca_noname.csv", index=False)